body{
  font-family: "Verdana", Geneva, sans-serif;
  background-color: lightgrey;
}

form{
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 1px #888888;
  padding: 50px;
}

.form-group, #submitButton{
  padding: 50px;
  border-top: 2px solid lightgrey;
}

.form-control{
  border-radius: 0px;
}

.form-control:focus{
  background-color: lightgrey;
}

.alert{
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.btn{
  background-color: grey;
  color: white;
  width: 150px;
}

#submit{
  background-color: green;
}

#submitButton{
  text-align: right;
}

.dropdown-menu{
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  overflow: auto;
  height: 100px;
}

#finalText{
  position: fixed;
  width: 400px;
  margin-top: 200px;
  text-align: center;
  font-size: 16px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 1px #888888;
  padding: 50px;
}

#glyphicon{
  margin-bottom: 10px;
}
