body{
  font-family: "Verdana", Geneva, sans-serif;
}

form{
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #F0F8FF;
  border-radius: 15px;
  border: 2px solid #F08080;
  padding: 50px;
}

.form-group, #submitButton{
  margin-top: 50px;
}

.btn{
  border: 2px solid #F08080;
}

.dropdown-menu{
  background: linear-gradient(to right, #F0F8FF, #F08080);
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  border: 2px solid #F08080;
  overflow: auto;
  height: 100px;
}

#finalText{
  position: fixed;
  margin-top: 200px;
  margin-left: 50px;
  width: 300px;
  text-align: center;
  font-size: 16px;
  background-color: #F0F8FF;
  border-radius: 15px;
  border: 2px solid #F08080;
  padding: 50px;
}
